.nick ul li{
    font-size: 20px;
    margin-top: 10px;
}

/*.nick p{*/
/*    float: left;*/
/*    color: #1E9FFF;*/
/*    text-decoration: none;*/
/*    margin-right: 8%;*/
/*    margin-top: -0.5%;*/
/*}*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F9F9F9;
}


.left_content{
    margin-top: 70px;
    background-color: #FFFFFF;
    font-family: Arial;
    border: 2px solid #F1F1F4;
    border-radius: 5px;
}

.left_content a:hover{
    color: #01AAED;
    text-decoration: none;
}
