*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #F9F9F9;
}


.left_content{
	margin-top: 70px;
	background-color: #FFFFFF;
    font-family: Arial; 
    border: 2px solid #F1F1F4; 
    border-radius: 5px;
}

.left_content a:hover{
	color: #1E9FFF;
}

.article{
	width: 96%;
	height: auto;
	margin: auto;
	white-space: nowrap;
}

.active_title{
	float: left;
}

.img{
	line-height: 50px;
	width: 5%;
}

.article a{
	color: #6e6b6e;
}

.title_all{
	margin-left: 1%;
	margin-top: 10px;
	height: 30px;
	width: 93%;
	line-height: 30px;
}

.title{
	width: 90%;
	float:left;
}

.time{
	width: 10%;
	float:left;
}

/* 右内容 */
.right_content{
	margin-top: 70px;
	color: #6e6b6e;
}

.right_content a {
	color: #6e6b6e;
	text-decoration: none;
}

.ana{
	
	background-color: #FFFFFF;
	font-family: Arial;
	border: 2px solid #F1F1F4; 
	border-radius: 5px;
}

.ana_title{
	width: 90%;
	margin: auto;
	line-height: 30px;
}

.ana_content{
	width: 90%;
	margin: auto;
	padding-top: 6px;
}

.ana_content a:hover{
	color: #1E9FFF;
}

.art{
	margin-top: 10px;
	background-color: #FFFFFF;
	font-family: Arial;
	border: 2px solid #F1F1F4; 
	border-radius: 5px;
	overflow:hidden;
	white-space: nowrap;
	/*text-overflow: ellipsis;*/
}

/* login css */
#logins{
	float: right;
	margin-right: 15px;
	padding: 0;
	background-color: transparent;
	border: 0px solid transparent;
	outline: none;
	color: #BEBEBE;
	line-height: 50px;
}

#logins:hover{
	color: #FFFFFF;
}

#register{
	float: right;
	margin-right: 15px;
	padding: 0;
	background-color: transparent;
	border: 0px solid transparent;
	outline: none;
	color: #BEBEBE;
	line-height: 50px;
}

#register:hover{
	color: #FFFFFF;
}

#login{
	width: 100%;
	height: 100%;
	background-color: #080808;
	margin: auto;
	background-color: #FFFFFF;
	color: #6e6b6e;
}


.login_1{
	width: 90%;
	margin: auto;
}

.login_1 form{
	padding-top: 10px;
}

.web_name h4{
	color: #000000;
	font-weight: bold;
}

.btn_1{
	width: 100%;
}

.centre{
	float: right;
	margin-right: 15px;
	padding: 0;
	background-color: transparent;
	border: 0px solid transparent;
	outline: none;
	color: #BEBEBE;
	line-height: 50px;
}

#centre:hover{
	color: #FFFFFF;
}


